<div class="kickbox identify-popup" id="{{popupId}}">
  <h4 class="title clearfix">Identify <span class="btn-identify-info float-right">
      <svg class="question-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"/></svg>
      <div class="identify-info">
        <svg class="caret-up-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"/></svg>
        <b>Latitude: </b> <span class="short-number">{{latitude}}</span><br/>
        <b>Longitude: </b> <span class="short-number">{{longitude}}</span><br/>
        <b>Radius (Meters):</b> <span class="short-number">{{radius}}</span>
      </div>
    </span>
  </h4>

  <div class="results-view">
    <div class="blocker">
      Loading results...
    </div>
    <div class="toolbar-top container-fluid">
      <div class="row">
        <div class="col-sm pr-0">
          <button class="btn btn-secondary btn-prev pull-left" title="Previous Record">&lt;</button>
        </div>
        <div class="result-count col-6 text-center pr-0 pl-0">
          </span><span class="record-index">{{recordIndex}}</span> of <span class="filters-applied">
            <svg class="count-filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"/></svg>
          </span> <span class="result-total">{{recordTotal}}</span>
        </div>
        <div class="no-results">No Results Found</div>
        <div class="col-sm text-right pl-0">
          <button class="btn btn-secondary btn-next pull-right" title="Next Record">&gt;</button>
        </div>
      </div>
    </div>

      <div class="records-data">
        {{#each records}}
          <ul class="record-data list-group" data-record-index="{{@index}}">
          {{#each this}}
            <li class="list-group-item"><b>{{{@key}}}:</b>&nbsp;{{{this}}}</li>
          {{/each}}
          </ul>
        {{/each}}
      </div>
  </div>

  <div class="kickbox-view filter-view">
    <div class="container-fluid">

      <div class="form-group">
        <label>Filter Expression</label>
        <textarea class="filter-expression form-control" placeholder="Filter expression...">{{expression}}</textarea>
      </div>
    </div>

    <div class="form-group container-fluid">
      <div class="row">
        <div class="col-sm">
          <button class="btn-apply-filter btn btn-primary btn-sm form-control">Apply Filter</button>
        </div>
        <div class="col-sm">
          <button class="btn-clear-filter btn btn-secondary btn-sm form-control">Clear Filter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar-bottom container-fluid">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-sm btn-secondary btn-filter-view" title="Filter Results">
            <svg class="btn-filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"/></svg>
          </button>
        </div>
      </div>
    </div>
</div>